<h1><%= event.Title %></h1>

<p><strong>Scheduled</strong>: <%= event.EventDate() %></p>

<p><%= event.Description%></p>

<%= if (event.HasGuests()) { %>
  <p>Guests</p>
  <ul>
    <%= for (g) in event.EventGuests { %>
      <li><%= g.Email %> - <%= g.FullName %></li>
    <% } %>
  </ul>
  <% } else { %>
    <p>No guests</p>
<% } %>

<div class="jumbotron">
  <h2>Reserve a guest (HTMX)</h2>
  <form hx-post="<%= event.ToGuestLink() %>">
    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" name="Email" id="Email">
    </div>
    <div class="form-group">
      <label for="FullName">Full Name</label>
      <input type="text" name="FullName" id="FullName">
    </div>
    <div class="form-group">
      <input type="hidden" name="authenticity_token" value="<%= authenticity_token %>"
    </div>
    <button class="btn btn-success">Submit</button>
  </form>
</div>